Repository paritytech/polkadot-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paritytech/ci, @paritytech/release-engineering, @paritytech/xcm, @koute, @paritytech/docs-audit, @paritytech/frame-coders, @jsidorenko, @cheme, @andresilva, @sorpaas, @acatangiu, @athei, @paritytech/staking-core

fix: add todos for pallet-xcm weights on all runtimes
  cumulus/parachains/runtimes/assets/asset-hub-rococo/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/assets/asset-hub-westend/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-rococo/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-westend/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/collectives/collectives-westend/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/coretime/coretime-rococo/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/coretime/coretime-westend/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/people/people-rococo/src/weights/pallet_xcm.rs
  cumulus/parachains/runtimes/people/people-westend/src/weights/pallet_xcm.rs
  polkadot/runtime/rococo/src/weights/pallet_xcm.rs
  polkadot/runtime/westend/src/weights/pallet_xcm.rs
Owners: none

Update
  polkadot/node/network/availability-recovery/benches/availability-recovery-regression-bench.rs
  polkadot/node/subsystem-bench/src/lib/availability/mod.rs
Owners: none

authority-discovery: Track DHT events with our published records
  substrate/client/authority-discovery/src/worker.rs
Owners: none

sender side rate limiter test
  polkadot/node/network/statement-distribution/src/v2/mod.rs
  polkadot/node/network/statement-distribution/src/v2/requests.rs
Owners: none

Fix feature propagation
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
Owners: none

Enable PoV reclaim on `rococo-parachain` (#3765)
  Cargo.lock
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
  cumulus/parachains/runtimes/testing/rococo-parachain/src/lib.rs
Owners: none

Enable PoV reclaim on `rococo-parachain` (#3765)
  Cargo.lock
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
  cumulus/parachains/runtimes/testing/rococo-parachain/src/lib.rs
Owners: none

Enable PoV reclaim on `rococo-parachain` (#3765)
  Cargo.lock
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
  cumulus/parachains/runtimes/testing/rococo-parachain/src/lib.rs
Owners: none

fix(pallet-xcm): move MAX_XCM_ENCODED_SIZE to xcm crate
  polkadot/xcm/pallet-xcm/src/lib.rs
  polkadot/xcm/src/lib.rs
  polkadot/xcm/xcm-builder/src/controller.rs
  polkadot/xcm/xcm-builder/src/lib.rs
  substrate/frame/contracts/src/lib.rs
  substrate/frame/contracts/src/wasm/runtime.rs
Owners: @paritytech/xcm, @athei, @paritytech/docs-audit

add additional notes on holds and freezes
  substrate/frame/support/src/traits/tokens/fungible/mod.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

further freeze vs hold discussion
  substrate/frame/support/src/traits/tokens/fungible/freeze.rs
  substrate/frame/support/src/traits/tokens/fungible/hold.rs
  substrate/frame/support/src/traits/tokens/fungible/mod.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Migrates Westend to Runtime V2 (#3754)
  polkadot/runtime/westend/Cargo.toml
  polkadot/runtime/westend/src/lib.rs
  prdoc/pr_3754.prdoc
Owners: none

Migrates Westend to Runtime V2 (#3754)
  polkadot/runtime/westend/Cargo.toml
  polkadot/runtime/westend/src/lib.rs
  prdoc/pr_3754.prdoc
Owners: none

Migrates Westend to Runtime V2 (#3754)
  polkadot/runtime/westend/Cargo.toml
  polkadot/runtime/westend/src/lib.rs
  prdoc/pr_3754.prdoc
Owners: none

bring back PermissionlessAll
  substrate/frame/nomination-pools/benchmarking/src/lib.rs
  substrate/frame/nomination-pools/src/lib.rs
  substrate/frame/nomination-pools/src/tests.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

add comment
  substrate/frame/nomination-pools/src/tests.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

add fuzzer for executive pallet
  Cargo.lock
  Cargo.toml
  substrate/frame/executive/Cargo.toml
  substrate/frame/executive/fuzzer/Cargo.toml
  substrate/frame/executive/fuzzer/src/fuzzer.rs
  substrate/frame/executive/src/lib.rs
  substrate/frame/executive/src/tests.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Update substrate/frame/broker/Cargo.toml
  substrate/frame/broker/Cargo.toml
Owners: @paritytech/frame-coders, @paritytech/docs-audit

change now() to relay_height()
  substrate/frame/broker/src/benchmarking.rs
  substrate/frame/broker/src/dispatchable_impls.rs
  substrate/frame/broker/src/tick_impls.rs
  substrate/frame/broker/src/utility_impls.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

fix unnecessary linting
  substrate/frame/broker/src/test_fungibles.rs
  substrate/frame/broker/src/tick_impls.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

removes call::force_clean and replaces it with fast_unstake
  substrate/frame/staking/src/pallet/impls.rs
  substrate/frame/staking/src/pallet/mod.rs
  substrate/frame/staking/src/tests.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

nits
  substrate/frame/staking/src/pallet/mod.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

nits2
  substrate/frame/staking/src/pallet/mod.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

improve test
  polkadot/runtime/parachains/src/paras_inherent/tests.rs
Owners: none

change bitwise or to logical or
  cumulus/parachains/runtimes/assets/asset-hub-rococo/src/xcm_config.rs
Owners: none

taplo
  substrate/primitives/arithmetic/Cargo.toml
Owners: @paritytech/docs-audit

remove rustdoc describing removed extrinsic
  bridges/snowbridge/pallets/ethereum-client/src/lib.rs
Owners: none

[Backport] Reformat release notes generation (#3759)
  scripts/release/build-changelogs.sh
  scripts/release/templates/audience.md.tera
Owners: none

[Backport] Reformat release notes generation (#3759)
  scripts/release/build-changelogs.sh
  scripts/release/templates/audience.md.tera
Owners: none

[Backport] Reformat release notes generation (#3759)
  scripts/release/build-changelogs.sh
  scripts/release/templates/audience.md.tera
Owners: none

remove rustdoc describing removed extrinsic
  bridges/snowbridge/pallets/ethereum-client/src/lib.rs
Owners: none

fix imports
  Cargo.lock
  substrate/frame/staking/src/ledger.rs
  substrate/primitives/staking/Cargo.toml
Owners: @paritytech/staking-core, @paritytech/docs-audit

revive minimal-template, make a new omni-node crate
  Cargo.lock
  Cargo.toml
  omni-nodes/minimal/Cargo.toml
  omni-nodes/minimal/build.rs
  omni-nodes/minimal/src/cli.rs
  omni-nodes/minimal/src/command.rs
  omni-nodes/minimal/src/impl_fake_runtime_apis.rs
  omni-nodes/minimal/src/lib.rs
  omni-nodes/minimal/src/main.rs
  omni-nodes/minimal/src/rpc.rs
  omni-nodes/minimal/src/service.rs
  omni-nodes/minimal/src/types.rs
  templates/minimal/node/Cargo.toml
  templates/minimal/node/src/chain_spec.rs
  templates/minimal/node/src/lib.rs
  templates/minimal/runtime/src/lib.rs
Owners: none

taplo
  substrate/primitives/arithmetic/Cargo.toml
Owners: @paritytech/docs-audit

removes clean ledger
  substrate/frame/staking/src/pallet/impls.rs
  substrate/frame/staking/src/pallet/mod.rs
  substrate/frame/staking/src/tests.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

Update substrate/frame/democracy/src/migrations/v2.rs
  substrate/frame/democracy/src/migrations/v2.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

remove unecessary CannotForceCleanLedger error variant
  substrate/frame/staking/src/pallet/mod.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

nit comments
  substrate/frame/democracy/src/migrations/mod.rs
  substrate/frame/democracy/src/migrations/v2.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Update polkadot/runtime/westend/src/xcm_config.rs
  polkadot/runtime/westend/src/xcm_config.rs
Owners: none

wasm-builder: Also set `mcpu` for c deps
  substrate/utils/wasm-builder/src/wasm_project.rs
Owners: @koute

.github/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner might be
# required for merging a PR (depends on repository settings).
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core`
#   which can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @github_user or @github/team) or email can be used. Keep in mind,
#   that handles might work better because they are more recognizable on GitHub,
#   eyou can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.github/ @paritytech/ci @paritytech/release-engineering
/.gitlab-ci.yml @paritytech/ci
/.gitlab/ @paritytech/ci

# XCM
/polkadot/xcm/ @paritytech/xcm

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/substrate/client/allocator/ @koute
/substrate/client/executor/ @koute
/substrate/primitives/panic-handler/ @koute
/substrate/primitives/runtime-interface/ @koute
/substrate/primitives/wasm-interface/ @koute
/substrate/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/substrate/client/sysinfo/ @koute
/substrate/client/tracing/ @koute

# Documentation audit
/substrate/primitives/runtime @paritytech/docs-audit
/substrate/primitives/arithmetic @paritytech/docs-audit
# /primitives/core (to be added later)
# /primitives/io (to be added later)

# FRAME
/substrate/frame/ @paritytech/frame-coders @paritytech/docs-audit
/substrate/frame/nfts/ @jsidorenko @paritytech/docs-audit
/substrate/frame/state-trie-migration/ @paritytech/frame-coders @cheme
/substrate/frame/uniques/ @jsidorenko @paritytech/docs-audit

# GRANDPA, BABE, consensus stuff
/substrate/client/consensus/babe/ @andresilva
/substrate/client/consensus/grandpa/ @andresilva
/substrate/client/consensus/pow/ @sorpaas
/substrate/client/consensus/slots/ @andresilva
/substrate/frame/babe/ @andresilva
/substrate/frame/grandpa/ @andresilva
/substrate/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/substrate/frame/beefy/ @acatangiu
/substrate/frame/beefy-mmr/ @acatangiu
/substrate/frame/merkle-mountain-range/ @acatangiu
/substrate/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/substrate/frame/contracts/ @athei @paritytech/docs-audit

# NPoS and election
/substrate/frame/election-provider-multi-phase/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/election-provider-support/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/elections-phragmen/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/nomination-pools/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/staking/ @paritytech/staking-core @paritytech/docs-audit
/substrate/primitives/npos-elections/ @paritytech/staking-core @paritytech/docs-audit
