Repository paritytech/polkadot-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paritytech/ci, @paritytech/release-engineering, @paritytech/xcm, @koute, @paritytech/docs-audit, @paritytech/frame-coders, @jsidorenko, @cheme, @andresilva, @sorpaas, @acatangiu, @athei, @paritytech/staking-core

doc
  substrate/primitives/genesis-builder/src/lib.rs
Owners: none

Fix build
  substrate/frame/contracts/src/lib.rs
  substrate/frame/contracts/src/migration/v11.rs
Owners: @athei, @paritytech/docs-audit

fix(pallet-xcm): remove base function from controller traits
  polkadot/xcm/pallet-xcm/src/lib.rs
  polkadot/xcm/xcm-builder/src/controller.rs
Owners: @paritytech/xcm

fix(pallet-xcm): fmt
  polkadot/xcm/pallet-xcm/src/lib.rs
Owners: @paritytech/xcm

Defensive Programming in Substrate Reference Document (#2615)
  Cargo.lock
  docs/sdk/Cargo.toml
  docs/sdk/src/guides/your_first_pallet/mod.rs
  docs/sdk/src/reference_docs/defensive_programming.rs
  docs/sdk/src/reference_docs/mod.rs
  docs/sdk/src/reference_docs/safe_defensive_programming.rs
  substrate/primitives/arithmetic/Cargo.toml
  substrate/primitives/arithmetic/src/fixed_point.rs
  substrate/primitives/arithmetic/src/lib.rs
  substrate/primitives/arithmetic/src/per_things.rs
Owners: @paritytech/docs-audit

Defensive Programming in Substrate Reference Document (#2615)
  Cargo.lock
  docs/sdk/Cargo.toml
  docs/sdk/src/guides/your_first_pallet/mod.rs
  docs/sdk/src/reference_docs/defensive_programming.rs
  docs/sdk/src/reference_docs/mod.rs
  docs/sdk/src/reference_docs/safe_defensive_programming.rs
  substrate/primitives/arithmetic/Cargo.toml
  substrate/primitives/arithmetic/src/fixed_point.rs
  substrate/primitives/arithmetic/src/lib.rs
  substrate/primitives/arithmetic/src/per_things.rs
Owners: @paritytech/docs-audit

Defensive Programming in Substrate Reference Document (#2615)
  Cargo.lock
  docs/sdk/Cargo.toml
  docs/sdk/src/guides/your_first_pallet/mod.rs
  docs/sdk/src/reference_docs/defensive_programming.rs
  docs/sdk/src/reference_docs/mod.rs
  docs/sdk/src/reference_docs/safe_defensive_programming.rs
  substrate/primitives/arithmetic/Cargo.toml
  substrate/primitives/arithmetic/src/fixed_point.rs
  substrate/primitives/arithmetic/src/lib.rs
  substrate/primitives/arithmetic/src/per_things.rs
Owners: @paritytech/docs-audit

Fix algorithmic complexity of on-demand scheduler with regards to number of cores. (#3190)
  Cargo.lock
  polkadot/primitives/src/lib.rs
  polkadot/primitives/src/v6/mod.rs
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/parachains/src/assigner_on_demand/benchmarking.rs
  polkadot/runtime/parachains/src/assigner_on_demand/migration.rs
  polkadot/runtime/parachains/src/assigner_on_demand/mod.rs
  polkadot/runtime/parachains/src/assigner_on_demand/tests.rs
  polkadot/runtime/parachains/src/configuration.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_assigner_on_demand.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_assigner_on_demand.rs
  prdoc/pr_3190.prdoc
Owners: none

Fix algorithmic complexity of on-demand scheduler with regards to number of cores. (#3190)
  Cargo.lock
  polkadot/primitives/src/lib.rs
  polkadot/primitives/src/v6/mod.rs
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/parachains/src/assigner_on_demand/benchmarking.rs
  polkadot/runtime/parachains/src/assigner_on_demand/migration.rs
  polkadot/runtime/parachains/src/assigner_on_demand/mod.rs
  polkadot/runtime/parachains/src/assigner_on_demand/tests.rs
  polkadot/runtime/parachains/src/configuration.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_assigner_on_demand.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_assigner_on_demand.rs
  prdoc/pr_3190.prdoc
Owners: none

Fix algorithmic complexity of on-demand scheduler with regards to number of cores. (#3190)
  Cargo.lock
  polkadot/primitives/src/lib.rs
  polkadot/primitives/src/v6/mod.rs
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/parachains/src/assigner_on_demand/benchmarking.rs
  polkadot/runtime/parachains/src/assigner_on_demand/migration.rs
  polkadot/runtime/parachains/src/assigner_on_demand/mod.rs
  polkadot/runtime/parachains/src/assigner_on_demand/tests.rs
  polkadot/runtime/parachains/src/configuration.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_assigner_on_demand.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_assigner_on_demand.rs
  prdoc/pr_3190.prdoc
Owners: none

Update
  polkadot/node/network/availability-distribution/tests/availability-distribution-regression-bench.rs
  polkadot/node/subsystem-bench/Cargo.toml
  polkadot/node/subsystem-bench/src/lib/environment.rs
  polkadot/node/subsystem-bench/src/lib/lib.rs
  polkadot/node/subsystem-bench/src/lib/usage.rs
  polkadot/node/subsystem-bench/src/lib/utils.rs
Owners: none

replace crate
  Cargo.toml
  polkadot/node/service/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  polkadot/xcm/xcm-fee-payment-runtime-api/Cargo.toml
  polkadot/xcm/xcm-fee-payment-runtime-api/README.md
  polkadot/xcm/xcm-fee-payment-runtime-api/src/lib.rs
Owners: @paritytech/xcm

Move all generation out of regression tests (#3746)
  polkadot/node/network/availability-distribution/tests/availability-distribution-regression-bench.rs
  polkadot/node/subsystem-bench/Cargo.toml
  polkadot/node/subsystem-bench/src/lib/availability/mod.rs
  polkadot/node/subsystem-bench/src/lib/environment.rs
  polkadot/node/subsystem-bench/src/lib/lib.rs
  polkadot/node/subsystem-bench/src/lib/mock/av_store.rs
  polkadot/node/subsystem-bench/src/lib/mock/runtime_api.rs
  polkadot/node/subsystem-bench/src/lib/usage.rs
  polkadot/node/subsystem-bench/src/lib/utils.rs
Owners: none

fix: :fire: feat(logs): Commented Substrate logs to allow Madara logs locally
  substrate/client/basic-authorship/src/basic_authorship.rs
  substrate/client/informant/src/lib.rs
Owners: none

sync changes from bridges repo
  bridges/bin/runtime-common/src/extensions/refund_relayer_extension.rs
  bridges/modules/parachains/src/call_ext.rs
  bridges/modules/parachains/src/lib.rs
  bridges/modules/parachains/src/mock.rs
Owners: none

add another provisioner test for multiple code upgrades
  polkadot/node/core/provisioner/src/tests.rs
Owners: none

Add fields to state
  polkadot/node/network/availability-distribution/tests/availability-distribution-regression-bench.rs
  polkadot/node/subsystem-bench/src/lib/availability/mod.rs
Owners: none

gets currency lock by tightly coupling with balances pallet
  substrate/frame/staking/Cargo.toml
  substrate/frame/staking/src/lib.rs
  substrate/frame/staking/src/pallet/impls.rs
  substrate/frame/staking/src/pallet/mod.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

remove unused imports
  cumulus/parachains/integration-tests/emulated/tests/assets/asset-hub-rococo/src/tests/treasury.rs
  cumulus/parachains/integration-tests/emulated/tests/collectives/collectives-westend/src/lib.rs
  cumulus/parachains/integration-tests/emulated/tests/collectives/collectives-westend/src/tests/fellowship_treasury.rs
Owners: none

Update polkadot/runtime/common/src/impls.rs
  polkadot/runtime/common/src/impls.rs
Owners: none

Update substrate/client/authority-discovery/src/interval.rs
  substrate/client/authority-discovery/src/interval.rs
Owners: none

Update BRIDGES.md
  BRIDGES.md
Owners: none

Adds InspectLockableCurrency and impls it for Balances pallet
  substrate/frame/balances/src/impl_currency.rs
  substrate/frame/balances/src/tests/currency_tests.rs
  substrate/frame/support/src/traits.rs
  substrate/frame/support/src/traits/tokens/currency.rs
  substrate/frame/support/src/traits/tokens/currency/lockable.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

uses InspectLockableCurrency in staking pallet to fetch lock of a stash
  substrate/frame/staking/Cargo.toml
  substrate/frame/staking/src/pallet/mod.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

Fix xcm config for coretime.
  polkadot/runtime/westend/src/xcm_config.rs
Owners: none

Update
  polkadot/node/network/availability-distribution/tests/availability-distribution-regression-bench.rs
  polkadot/node/subsystem-bench/src/lib/availability/mod.rs
Owners: none

Update BRIDGES.md
  BRIDGES.md
Owners: none

rpc-v2/connections: Check empty connection cleans the connection ID
  substrate/client/rpc-spec-v2/src/common/connections.rs
Owners: none

Allow poor fellows to be uncharged again as well.
  polkadot/runtime/westend/src/xcm_config.rs
Owners: none

chainHead: Encapsulate rpc connections with subscription management
  substrate/client/rpc-spec-v2/src/chain_head/chain_head.rs
  substrate/client/rpc-spec-v2/src/chain_head/chain_head_follow.rs
  substrate/client/rpc-spec-v2/src/chain_head/subscription/mod.rs
Owners: none

Make cargo happy.
  polkadot/runtime/westend/src/xcm_config.rs
Owners: none

".git/.scripts/commands/bench/bench.sh" --subcommand=pallet --runtime=dev --target_dir=substrate --pallet=pallet_broker
  substrate/frame/broker/src/weights.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Remove unused dep
  Cargo.lock
  cumulus/pallets/parachain-system/Cargo.toml
  cumulus/test/client/src/block_builder.rs
Owners: none

subscription/tests: Check resource cleanup on drop
  substrate/client/rpc-spec-v2/src/chain_head/subscription/inner.rs
  substrate/client/rpc-spec-v2/src/chain_head/subscription/mod.rs
Owners: none

Update substrate/client/rpc-spec-v2/src/common/connections.rs
  substrate/client/rpc-spec-v2/src/common/connections.rs
Owners: none

Adds simple tests for reset ledger
  substrate/frame/staking/src/mock.rs
  substrate/frame/staking/src/pallet/mod.rs
  substrate/frame/staking/src/tests.rs
Owners: @paritytech/staking-core, @paritytech/docs-audit

chainHead/connections: Detect duplicate tokens
  substrate/client/rpc-spec-v2/src/chain_head/subscription/mod.rs
  substrate/client/rpc-spec-v2/src/common/connections.rs
Owners: none

Update
  polkadot/node/subsystem-bench/src/lib/availability/mod.rs
  polkadot/node/subsystem-bench/src/lib/availability/test_state.rs
Owners: none

chore(pallet-xcm): add tests
  polkadot/xcm/pallet-xcm/src/lib.rs
  polkadot/xcm/pallet-xcm/src/tests/mod.rs
  polkadot/xcm/xcm-builder/src/controller.rs
Owners: @paritytech/xcm

chainHead/connections: Change connection names
  substrate/client/rpc-spec-v2/src/chain_head/subscription/mod.rs
  substrate/client/rpc-spec-v2/src/common/connections.rs
Owners: none

.github/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner might be
# required for merging a PR (depends on repository settings).
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core`
#   which can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @github_user or @github/team) or email can be used. Keep in mind,
#   that handles might work better because they are more recognizable on GitHub,
#   eyou can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.github/ @paritytech/ci @paritytech/release-engineering
/.gitlab-ci.yml @paritytech/ci
/.gitlab/ @paritytech/ci

# XCM
/polkadot/xcm/ @paritytech/xcm

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/substrate/client/allocator/ @koute
/substrate/client/executor/ @koute
/substrate/primitives/panic-handler/ @koute
/substrate/primitives/runtime-interface/ @koute
/substrate/primitives/wasm-interface/ @koute
/substrate/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/substrate/client/sysinfo/ @koute
/substrate/client/tracing/ @koute

# Documentation audit
/substrate/primitives/runtime @paritytech/docs-audit
/substrate/primitives/arithmetic @paritytech/docs-audit
# /primitives/core (to be added later)
# /primitives/io (to be added later)

# FRAME
/substrate/frame/ @paritytech/frame-coders @paritytech/docs-audit
/substrate/frame/nfts/ @jsidorenko @paritytech/docs-audit
/substrate/frame/state-trie-migration/ @paritytech/frame-coders @cheme
/substrate/frame/uniques/ @jsidorenko @paritytech/docs-audit

# GRANDPA, BABE, consensus stuff
/substrate/client/consensus/babe/ @andresilva
/substrate/client/consensus/grandpa/ @andresilva
/substrate/client/consensus/pow/ @sorpaas
/substrate/client/consensus/slots/ @andresilva
/substrate/frame/babe/ @andresilva
/substrate/frame/grandpa/ @andresilva
/substrate/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/substrate/frame/beefy/ @acatangiu
/substrate/frame/beefy-mmr/ @acatangiu
/substrate/frame/merkle-mountain-range/ @acatangiu
/substrate/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/substrate/frame/contracts/ @athei @paritytech/docs-audit

# NPoS and election
/substrate/frame/election-provider-multi-phase/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/election-provider-support/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/elections-phragmen/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/nomination-pools/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/staking/ @paritytech/staking-core @paritytech/docs-audit
/substrate/primitives/npos-elections/ @paritytech/staking-core @paritytech/docs-audit
