Repository paritytech/polkadot-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paritytech/ci, @paritytech/release-engineering, @paritytech/xcm, @koute, @paritytech/docs-audit, @paritytech/frame-coders, @jsidorenko, @cheme, @andresilva, @sorpaas, @acatangiu, @athei, @paritytech/staking-core

.github/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner might be
# required for merging a PR (depends on repository settings).
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core`
#   which can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @github_user or @github/team) or email can be used. Keep in mind,
#   that handles might work better because they are more recognizable on GitHub,
#   eyou can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.github/ @paritytech/ci @paritytech/release-engineering
/.gitlab-ci.yml @paritytech/ci
/.gitlab/ @paritytech/ci

# XCM
/polkadot/xcm/ @paritytech/xcm

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/substrate/client/allocator/ @koute
/substrate/client/executor/ @koute
/substrate/primitives/panic-handler/ @koute
/substrate/primitives/runtime-interface/ @koute
/substrate/primitives/wasm-interface/ @koute
/substrate/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/substrate/client/sysinfo/ @koute
/substrate/client/tracing/ @koute

# Documentation audit
/substrate/primitives/runtime @paritytech/docs-audit
/substrate/primitives/arithmetic @paritytech/docs-audit
# /primitives/core (to be added later)
# /primitives/io (to be added later)

# FRAME
/substrate/frame/ @paritytech/frame-coders @paritytech/docs-audit
/substrate/frame/nfts/ @jsidorenko @paritytech/docs-audit
/substrate/frame/state-trie-migration/ @paritytech/frame-coders @cheme
/substrate/frame/uniques/ @jsidorenko @paritytech/docs-audit

# GRANDPA, BABE, consensus stuff
/substrate/client/consensus/babe/ @andresilva
/substrate/client/consensus/grandpa/ @andresilva
/substrate/client/consensus/pow/ @sorpaas
/substrate/client/consensus/slots/ @andresilva
/substrate/frame/babe/ @andresilva
/substrate/frame/grandpa/ @andresilva
/substrate/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/substrate/frame/beefy/ @acatangiu
/substrate/frame/beefy-mmr/ @acatangiu
/substrate/frame/merkle-mountain-range/ @acatangiu
/substrate/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/substrate/frame/contracts/ @athei @paritytech/docs-audit

# NPoS and election
/substrate/frame/election-provider-multi-phase/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/election-provider-support/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/elections-phragmen/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/nomination-pools/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/staking/ @paritytech/staking-core @paritytech/docs-audit
/substrate/primitives/npos-elections/ @paritytech/staking-core @paritytech/docs-audit

Bump versions
  Plan.toml
  cumulus/parachains/integration-tests/emulated/chains/parachains/testing/penpal/Cargo.toml
  cumulus/parachains/runtimes/testing/penpal/Cargo.toml
  cumulus/polkadot-parachain/Cargo.toml
Owners: none

Bump versions
  Plan.toml
  bridges/snowbridge/parachain/runtime/test-common/Cargo.toml
  cumulus/parachain-template/runtime/Cargo.toml
  cumulus/parachains/common/Cargo.toml
  cumulus/parachains/integration-tests/emulated/common/Cargo.toml
  cumulus/parachains/integration-tests/emulated/tests/assets/asset-hub-rococo/Cargo.toml
  cumulus/parachains/integration-tests/emulated/tests/assets/asset-hub-westend/Cargo.toml
  cumulus/parachains/integration-tests/emulated/tests/bridges/bridge-hub-rococo/Cargo.toml
  cumulus/parachains/integration-tests/emulated/tests/bridges/bridge-hub-westend/Cargo.toml
  cumulus/parachains/runtimes/assets/asset-hub-rococo/Cargo.toml
  cumulus/parachains/runtimes/assets/asset-hub-westend/Cargo.toml
  cumulus/parachains/runtimes/assets/common/Cargo.toml
  cumulus/parachains/runtimes/assets/test-utils/Cargo.toml
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-rococo/Cargo.toml
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-westend/Cargo.toml
  cumulus/parachains/runtimes/collectives/collectives-westend/Cargo.toml
  cumulus/parachains/runtimes/contracts/contracts-rococo/Cargo.toml
  cumulus/parachains/runtimes/coretime/coretime-rococo/Cargo.toml
  cumulus/parachains/runtimes/coretime/coretime-westend/Cargo.toml
  cumulus/parachains/runtimes/people/people-rococo/Cargo.toml
  cumulus/parachains/runtimes/people/people-westend/Cargo.toml
  cumulus/parachains/runtimes/test-utils/Cargo.toml
  cumulus/parachains/runtimes/testing/penpal/Cargo.toml
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/test-runtime/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  polkadot/xcm/pallet-xcm/Cargo.toml
  polkadot/xcm/xcm-executor/integration-tests/Cargo.toml
  polkadot/xcm/xcm-simulator/example/Cargo.toml
  polkadot/xcm/xcm-simulator/fuzzer/Cargo.toml
  substrate/frame/contracts/mock-network/Cargo.toml
Owners: @paritytech/xcm, @athei, @paritytech/docs-audit

Bump versions
  Plan.toml
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/test-runtime/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  substrate/bin/node/runtime/Cargo.toml
  substrate/frame/authority-discovery/Cargo.toml
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Bump versions
  Plan.toml
  cumulus/parachains/integration-tests/emulated/chains/relays/westend/Cargo.toml
  polkadot/node/service/Cargo.toml
  polkadot/node/test/service/Cargo.toml
  polkadot/runtime/common/Cargo.toml
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/test-runtime/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  substrate/bin/node/runtime/Cargo.toml
  substrate/frame/bags-list/remote-tests/Cargo.toml
  substrate/frame/nomination-pools/benchmarking/Cargo.toml
  substrate/frame/offences/benchmarking/Cargo.toml
  substrate/frame/root-offences/Cargo.toml
  substrate/frame/session/benchmarking/Cargo.toml
  substrate/frame/staking/Cargo.toml
  substrate/utils/frame/generate-bags/Cargo.toml
Owners: @paritytech/frame-coders, @paritytech/docs-audit, @paritytech/staking-core

Apply suggestions from code review
  substrate/frame/contracts/src/lib.rs
Owners: @athei, @paritytech/docs-audit

PR comment
  substrate/frame/contracts/src/migration.rs
Owners: @athei, @paritytech/docs-audit

Bump versions
  Plan.toml
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/test-runtime/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  substrate/bin/node/runtime/Cargo.toml
  substrate/frame/authority-discovery/Cargo.toml
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Fix kusama validators getting 0 backing rewards the first session tey enter the active set (#3735)
  prdoc/pr_3722.prdoc
  substrate/frame/authority-discovery/src/lib.rs
  substrate/frame/session/src/lib.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

Benches
  cumulus/test/service/benches/validate_block.rs
  cumulus/test/service/benches/validate_block_glutton.rs
Owners: none

Update polkadot/xcm/pallet-xcm/src/lib.rs
  polkadot/xcm/pallet-xcm/src/lib.rs
Owners: @paritytech/xcm

Bump versions
  Plan.toml
  polkadot/runtime/parachains/Cargo.toml
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/test-runtime/Cargo.toml
  polkadot/runtime/westend/Cargo.toml
  substrate/bin/node/runtime/Cargo.toml
  substrate/frame/authority-discovery/Cargo.toml
Owners: @paritytech/frame-coders, @paritytech/docs-audit

rm cancel
  .gitlab-ci.yml
Owners: @paritytech/ci

PR review
  substrate/frame/contracts/src/migration.rs
Owners: @athei, @paritytech/docs-audit

sync changes from bridges repo
  bridges/modules/grandpa/src/call_ext.rs
  bridges/modules/grandpa/src/lib.rs
Owners: none

".git/.scripts/commands/bench/bench.sh" --subcommand=pallet --runtime=coretime-westend --runtime_dir=coretime --target_dir=cumulus --pallet=pallet_broker
  cumulus/parachains/runtimes/coretime/coretime-westend/src/weights/pallet_broker.rs
Owners: none

Fix typos (#3753)
  bridges/bin/runtime-common/src/priority_calculator.rs
  bridges/bin/runtime-common/src/refund_relayer_extension.rs
Owners: none

Fix typos (#3753)
  bridges/bin/runtime-common/src/priority_calculator.rs
  bridges/bin/runtime-common/src/refund_relayer_extension.rs
Owners: none

Fix typos (#3753)
  bridges/bin/runtime-common/src/priority_calculator.rs
  bridges/bin/runtime-common/src/refund_relayer_extension.rs
Owners: none

rename crate
  Cargo.lock
  polkadot/node/service/Cargo.toml
  polkadot/node/service/src/fake_runtime_api.rs
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/westend/Cargo.toml
  polkadot/runtime/westend/src/lib.rs
  polkadot/xcm/xcm-builder/xcm-payment-runtime-api/Cargo.toml
  prdoc/pr_3607.prdoc
Owners: @paritytech/xcm

Update polkadot/xcm/xcm-builder/xcm-payment-runtime-api/src/lib.rs
  polkadot/xcm/xcm-builder/xcm-payment-runtime-api/src/lib.rs
Owners: @paritytech/xcm

Update prdoc/pr_3607.prdoc
  prdoc/pr_3607.prdoc
Owners: none

Update substrate/frame/contracts/src/migration/v09.rs
  substrate/frame/contracts/src/migration/v09.rs
Owners: @athei, @paritytech/docs-audit

remove fmt file
  bridges/snowbridge/rustfmt.toml
Owners: none

fixed typo in API calls
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-rococo/src/lib.rs
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-westend/src/lib.rs
Owners: none

revert changes
  polkadot/runtime/rococo/Cargo.toml
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/westend/Cargo.toml
  polkadot/runtime/westend/src/lib.rs
Owners: none

update doc
  polkadot/xcm/xcm-builder/xcm-payment-runtime-api/src/lib.rs
Owners: @paritytech/xcm

unused param
  bridges/snowbridge/pallets/inbound-queue/src/mock.rs
Owners: none

prdoc
  prdoc/pr_3761.prdoc
Owners: none

map_candidates_to_cores: check core index for single core if ElasticScalingMVP is enabled
  polkadot/runtime/parachains/src/paras_inherent/mod.rs
Owners: none

add a couple more test cases
  polkadot/runtime/parachains/src/builder.rs
  polkadot/runtime/parachains/src/paras_inherent/tests.rs
Owners: none

Clippy
  cumulus/client/consensus/common/src/tests.rs
Owners: none

Add some additional doc comments
  substrate/frame/democracy/src/migrations/v2.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

review comment
  polkadot/runtime/parachains/src/paras_inherent/mod.rs
Owners: none

XCM remove extra QueryId types from traits
  polkadot/xcm/pallet-xcm/src/lib.rs
  polkadot/xcm/xcm-builder/src/controller.rs
  polkadot/xcm/xcm-builder/src/pay.rs
  polkadot/xcm/xcm-builder/src/tests/mock.rs
  polkadot/xcm/xcm-executor/src/traits/on_response.rs
Owners: @paritytech/xcm

authority-discovery: Implement set to start for exp intervals
  substrate/client/authority-discovery/src/interval.rs
Owners: none

authority-discovery: Set intervals to start when authority keys changes
  substrate/client/authority-discovery/src/worker.rs
Owners: none

sync changes from bridges repo
  bridges/modules/grandpa/src/lib.rs
  bridges/modules/parachains/src/lib.rs
Owners: none

doc
  substrate/primitives/genesis-builder/src/lib.rs
Owners: none

preserve ordering when responding to GetBackedCandidates and when filtering candidates with validation code updates
  polkadot/node/core/backing/src/error.rs
  polkadot/node/core/backing/src/lib.rs
  polkadot/node/core/backing/src/tests/mod.rs
  polkadot/node/core/provisioner/src/lib.rs
  polkadot/node/core/provisioner/src/tests.rs
  polkadot/node/overseer/src/tests.rs
  polkadot/node/subsystem-types/src/messages.rs
  polkadot/roadmap/implementers-guide/src/types/overseer-protocol.md
Owners: none

Enable PoV reclaim on `rococo-parachain`
  Cargo.lock
  cumulus/parachains/runtimes/testing/rococo-parachain/Cargo.toml
  cumulus/parachains/runtimes/testing/rococo-parachain/src/lib.rs
Owners: none
