Repository paritytech/polkadot-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paritytech/ci, @paritytech/release-engineering, @paritytech/xcm, @koute, @paritytech/docs-audit, @paritytech/frame-coders, @jsidorenko, @cheme, @andresilva, @sorpaas, @acatangiu, @athei, @paritytech/staking-core

.github/CODEOWNERS:

# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner might be
# required for merging a PR (depends on repository settings).
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core`
#   which can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @github_user or @github/team) or email can be used. Keep in mind,
#   that handles might work better because they are more recognizable on GitHub,
#   eyou can use them for mentioning unlike an email.
# - The latest matching rule, if multiple, takes precedence.

# CI
/.github/ @paritytech/ci @paritytech/release-engineering
/.gitlab-ci.yml @paritytech/ci
/.gitlab/ @paritytech/ci

# XCM
/polkadot/xcm/ @paritytech/xcm

# WASM executor, low-level client <-> WASM interface and other WASM-related code
/substrate/client/allocator/ @koute
/substrate/client/executor/ @koute
/substrate/primitives/panic-handler/ @koute
/substrate/primitives/runtime-interface/ @koute
/substrate/primitives/wasm-interface/ @koute
/substrate/utils/wasm-builder/ @koute

# Systems-related bits and bobs on the client side
/substrate/client/sysinfo/ @koute
/substrate/client/tracing/ @koute

# Documentation audit
/substrate/primitives/runtime @paritytech/docs-audit
/substrate/primitives/arithmetic @paritytech/docs-audit
# /primitives/core (to be added later)
# /primitives/io (to be added later)

# FRAME
/substrate/frame/ @paritytech/frame-coders @paritytech/docs-audit
/substrate/frame/nfts/ @jsidorenko @paritytech/docs-audit
/substrate/frame/state-trie-migration/ @paritytech/frame-coders @cheme
/substrate/frame/uniques/ @jsidorenko @paritytech/docs-audit

# GRANDPA, BABE, consensus stuff
/substrate/client/consensus/babe/ @andresilva
/substrate/client/consensus/grandpa/ @andresilva
/substrate/client/consensus/pow/ @sorpaas
/substrate/client/consensus/slots/ @andresilva
/substrate/frame/babe/ @andresilva
/substrate/frame/grandpa/ @andresilva
/substrate/primitives/consensus/pow/ @sorpaas

# BEEFY, MMR
/substrate/frame/beefy/ @acatangiu
/substrate/frame/beefy-mmr/ @acatangiu
/substrate/frame/merkle-mountain-range/ @acatangiu
/substrate/primitives/merkle-mountain-range/ @acatangiu

# Contracts
/substrate/frame/contracts/ @athei @paritytech/docs-audit

# NPoS and election
/substrate/frame/election-provider-multi-phase/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/election-provider-support/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/elections-phragmen/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/nomination-pools/ @paritytech/staking-core @paritytech/docs-audit
/substrate/frame/staking/ @paritytech/staking-core @paritytech/docs-audit
/substrate/primitives/npos-elections/ @paritytech/staking-core @paritytech/docs-audit

Add conformance test for FundsUnavailable
  substrate/frame/support/src/traits/tokens/fungible/conformance_tests/regular/unbalanced.rs
Owners: @paritytech/frame-coders, @paritytech/docs-audit

chore(xcm): add more xcm decoding tests
  polkadot/xcm/src/v4/mod.rs
Owners: @paritytech/xcm

Elastic scaling: runtime dependency tracking and enactment (#3479)
  polkadot/roadmap/implementers-guide/src/runtime/inclusion.md
  polkadot/roadmap/implementers-guide/src/runtime/parainherent.md
  polkadot/roadmap/implementers-guide/src/runtime/scheduler.md
  polkadot/runtime/parachains/src/builder.rs
  polkadot/runtime/parachains/src/inclusion/migration.rs
  polkadot/runtime/parachains/src/inclusion/mod.rs
  polkadot/runtime/parachains/src/inclusion/tests.rs
  polkadot/runtime/parachains/src/paras_inherent/benchmarking.rs
  polkadot/runtime/parachains/src/paras_inherent/mod.rs
  polkadot/runtime/parachains/src/paras_inherent/tests.rs
  polkadot/runtime/parachains/src/runtime_api_impl/v7.rs
  polkadot/runtime/parachains/src/scheduler.rs
  polkadot/runtime/parachains/src/util.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_paras_inherent.rs
  polkadot/runtime/westend/src/lib.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_paras_inherent.rs
  prdoc/pr_3479.prdoc
Owners: none

Elastic scaling: runtime dependency tracking and enactment (#3479)
  polkadot/roadmap/implementers-guide/src/runtime/inclusion.md
  polkadot/roadmap/implementers-guide/src/runtime/parainherent.md
  polkadot/roadmap/implementers-guide/src/runtime/scheduler.md
  polkadot/runtime/parachains/src/builder.rs
  polkadot/runtime/parachains/src/inclusion/migration.rs
  polkadot/runtime/parachains/src/inclusion/mod.rs
  polkadot/runtime/parachains/src/inclusion/tests.rs
  polkadot/runtime/parachains/src/paras_inherent/benchmarking.rs
  polkadot/runtime/parachains/src/paras_inherent/mod.rs
  polkadot/runtime/parachains/src/paras_inherent/tests.rs
  polkadot/runtime/parachains/src/runtime_api_impl/v7.rs
  polkadot/runtime/parachains/src/scheduler.rs
  polkadot/runtime/parachains/src/util.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_paras_inherent.rs
  polkadot/runtime/westend/src/lib.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_paras_inherent.rs
  prdoc/pr_3479.prdoc
Owners: none

Elastic scaling: runtime dependency tracking and enactment (#3479)
  polkadot/roadmap/implementers-guide/src/runtime/inclusion.md
  polkadot/roadmap/implementers-guide/src/runtime/parainherent.md
  polkadot/roadmap/implementers-guide/src/runtime/scheduler.md
  polkadot/runtime/parachains/src/builder.rs
  polkadot/runtime/parachains/src/inclusion/migration.rs
  polkadot/runtime/parachains/src/inclusion/mod.rs
  polkadot/runtime/parachains/src/inclusion/tests.rs
  polkadot/runtime/parachains/src/paras_inherent/benchmarking.rs
  polkadot/runtime/parachains/src/paras_inherent/mod.rs
  polkadot/runtime/parachains/src/paras_inherent/tests.rs
  polkadot/runtime/parachains/src/runtime_api_impl/v7.rs
  polkadot/runtime/parachains/src/scheduler.rs
  polkadot/runtime/parachains/src/util.rs
  polkadot/runtime/rococo/src/lib.rs
  polkadot/runtime/rococo/src/weights/runtime_parachains_paras_inherent.rs
  polkadot/runtime/westend/src/lib.rs
  polkadot/runtime/westend/src/weights/runtime_parachains_paras_inherent.rs
  prdoc/pr_3479.prdoc
Owners: none

Add a linear fee multiplier to ensure safety margins (#127)
  bridges/snowbridge/pallets/inbound-queue/src/mock.rs
  bridges/snowbridge/pallets/outbound-queue/runtime-api/src/lib.rs
  bridges/snowbridge/pallets/outbound-queue/src/api.rs
  bridges/snowbridge/pallets/outbound-queue/src/lib.rs
  bridges/snowbridge/pallets/outbound-queue/src/mock.rs
  bridges/snowbridge/pallets/outbound-queue/src/test.rs
  bridges/snowbridge/pallets/system/src/lib.rs
  bridges/snowbridge/pallets/system/src/mock.rs
  bridges/snowbridge/primitives/core/src/outbound.rs
  bridges/snowbridge/primitives/core/src/pricing.rs
  cumulus/parachains/runtimes/bridge-hubs/bridge-hub-rococo/src/lib.rs
Owners: none

there's a typo
  substrate/primitives/runtime/src/multiaddress.rs
Owners: @paritytech/docs-audit
